.btn-icon {
  position: relative;
  display: block;
  cursor: pointer;
  
  width: 65px;
  height: 62px;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .3s;
  }

  &:hover:after {
    opacity: 1;
  }

  &--chat {
    background: url("../../assets/img/icons/btn-chat-default.png");
    &:after {
      background: url("../../assets/img/icons/btn-chat-hover.png");
    }
  }

  &--mail {
    width: 68px;
    height: 64px;

    background: url("../../assets/img/icons/btn-mail-default.png");
    &:after {
      background: url("../../assets/img/icons/btn-mail-hover.png");
    }
  }

  &--stats {
    width: 66px;
    height: 61px;

    background: url("../../assets/img/icons/btn-stats-default.png");
    &:after {
      background: url("../../assets/img/icons/btn-stats-hover.png");
    }
  }

  &--close {
    width: 26px;
    height: 26px;

    background: url("../../assets/img/icons/btn-close-default.png");
    &:after {
      background: url("../../assets/img/icons/btn-close-hover.png");
    }
  }
}