.npc {
  position: absolute;

  transform: translate(-50%, -100%);

  width: 21px;
  height: 69px;

  background: url("./../../assets/img/npc.png");
  background-size: 100% 100%;

  &.move {
    animation: move 3s forwards linear;
    will-change: left, top;
  }
}