.npc {
  position: absolute;
  top: 505px;
  left: 444px;

  transform: translate(-50%, -100%);

  width: 21px;
  height: 69px;

  background: url("./../../assets/img/npc.png");
  background-size: 100% 100%;
}