.slider {
  display: flex;
  align-items: center;

  &__prev,
  &__next {
    width: 16px;
    height: 29px;
    cursor: pointer;

    &.disabled,
    &[disabled] {
      filter: brightness(0.5);
      cursor: default;
    }
  }

  &__prev {
    transform: scaleX(-1);
  }

  &__list {
    margin: 0 6px;
    overflow: hidden;
    &-inner {
      display: flex;
    }

    &-item {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

