body {
  user-select: none;
}

.text-center {
  text-align: center;
}

.is-friend {
  display: block;
  width: 30px;
  height: 29px;
  background: url("../../assets/img/icons/friend-bg.png") repeat-x;
  background-size: 100% 100%;
}
