@font-face {
  font-display: swap;
  font-family: 'Cambria';
  src: url('../../assets/fonts/Cambria/Cambria.eot');
  src: url('../../assets/fonts/Cambria/Cambria.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/Cambria/Cambria.woff') format('woff'),
  url('../../assets/fonts/Cambria/Cambria.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
